*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.header .icon-font{
    font-size: 8px;
    color: aliceblue;
}
a:hover{
    text-decoration: none;
}
/* header start */
.header{
    width: 100%;
    background: url(../images/img.banner.png) top center;
    padding: 20px 0px 80px;
}
.header .logo-icon{
  font-size: 12px;
  color: #2e2e33;
  margin: 0px 6px;
}
.header .header-icon{
  font-size: 10px;
  color: rgb(225, 238, 238);
}
.header .navbar .nav-item .nav-link{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(225, 238, 238);
    padding: 0px 10px;
}
.nav-link:hover{
    border-bottom: 2px solid #17476e;
}
.header .header-left{
    padding: 80px 0px;
}
.header .header-left h6{
    color: #0b3a51;
    font-size: 16px;
    font-weight: 600;
}
.header .header-left h1{
  color: #f2f1f7;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: capitalize;
  margin: 15px 0px;
}
.header .header-left p{
  color: #f2f1f7;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
}
.header .header-left .btn{
  margin: 40px 8px 0px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
/* header end */

/* banner start */

.banner{
  width: 100%;
  padding: 80px 0px;
}
.banner .banner-left{
  text-align: center;
}
.banner .banner-left h6{
  color: #70adbc;
  font-size: 16px;
  font-weight: 600;
}
.banner .banner-left h1{
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
  text-transform: capitalize;
  margin: 15px 0px;
}
.banner .banner-left p{
  color: #70adbc;
  font-size: 12px;
  font-weight: 600;
}
.banner .banner-right{
  text-align: center;
}
.banner .banner-right .icon-logo{
  width: 7%;
  height: 20px;
  margin: 20px 0px;
}
.banner .banner-right h4{
  font-size: 20px;
  font-weight: 600;
}
.banner .banner-right p{
  font-size: 14px;
  font-weight: 400;
}
/* banner end */

/* focus start */

.focus{
  width: 100%;
  padding: 80px 0px;
}
.focus .iner-focus{
  padding: 80px 0px;
}
.focus .iner-focus h5{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7db2c4;
}
.focus .iner-focus h1{
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
}
.focus .iner-focus h6{
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7db2c4;
}
.focus .iner-focus  p{
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 20px;
}
.focus .iner-focus  h4{
  font-size: 14px;
  font-weight: 400;
}
.focus .iner-focus .icon-img{
  width: 3%;
  height: 18px;
  margin: 0px 14px 0px 0px;
}
/* focus end */

/* feature start */
.feature{
  width: 100%;
  padding: 80px 0px;
  background-color: #f2f2f2;
}
.feature .iner-feature{
  padding: 80px 0px;
}
.feature .iner-feature h5{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7db2c4;
}
.feature .iner-feature h1{
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
}
.feature .iner-feature h6{
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7db2c4;
}
.feature .iner-feature  p{
  font-size: 14px;
  font-weight: 400;
}
/* feature end */

/* footer start */
.footer{
  width: 100%;
  padding: 80px 0px;
  background-color: #5b5b5e;
}
.footer .footer-left{
  text-align: center;
  padding: 0px 0px 40px;
}
.footer .footer-left h5{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7db2c4;
}
.footer .footer-left h1{
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
}
.footer .footer-left h6{
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7db2c4;
}
.footer i{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
}
/* fo0ter end */